.vscode
*.txt
test_?.js

# * -это не ограниченное количество символов
#  ? -любой символ, но только  1 谢谢

# Проверь регулярные выражения

# Если папка состоит из неск слов и пробеллов- пиши в ковычках
# Команда git rm позволяет удалять отдельные файлы или группы файлов
# -r отвечает за рекурсию. Удаляет все что связано или внутри удаляемой папки

# npm node packed manager отвечает за моды программы

# -m сообщение git commit -m
# git merge сливает значала текущие коммиты, потом сливающиеся
# git rebase сливает сначала сливающиеся, потом текущие

# проверь git rm